body{
  font-family: Arial;
  text-align:center;
  background:#111;
  color:white;
}

button{
  padding:10px 20px;
  margin:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  transform:scale(1.05);
}